{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}Kontakt{% endblock %}

{% block content %}
{% include 'website/components/breadcrumbs.html' %}

<section class="container mx-auto px-4 mt-32">
    <div class="flex flex-col lg:flex-row gap-20 justify-center ">
        <a href="tel:{{config.contact_phone}}">
            <div class="flex gap-5 justify-start lg:justify-center lg:items-center">
                <div class="flex justify-center items-center">
                    <img src="{% static 'img/icons/mingcute_phone-fill.png' %}" alt="Email_icon" class="h-8 md:h-16">
                </div>

                <div>
                    <p class="text-2xl font-semibold">{% trans "Kontakt" %}</p>
                    <p>{{config.contact_phone}}</p>
                </div>

            </div>
        </a>
        <a href="https://www.google.com/maps/search/?api=1&query=Bulevar+Arsenija+Čarnojevića+82,+Novi+Beograd"
           target="_blank">
            <div class="flex gap-5 justify-start lg:justify-center lg:items-center">
                <div class="flex justify-center items-center">
                    <img src="{% static 'img/icons/lsicon_location-filled.png' %}" alt="Email_icon"
                         class="w-12 md:w-18">
                </div>
                <div>
                    <p class="text-2xl font-semibold">{% trans "Lokacija" %}</p>
                    <p>{{config.address}}</p>
                </div>
            </div>
        </a>
        <a href="mailto:{{config.email}}">
            <div class="flex gap-5 justify-start lg:justify-center lg:items-center">
                <div class="flex justify-center items-center">
                    <img src="{% static 'img/icons/mdi_email.png' %}" alt="Email_icon" class="h-8 md:h-14">
                </div>
                <div>
                    <p class="text-2xl font-semibold">Email</p>
                    <p>{{config.email}}</p>
                </div>
            </div>
        </a>
    </div>

    <div class="flex flex-col lg:flex-row gap-5 mt-20">
        <div class="">
            <!-- Forma -->
            <div id="formContainer" class="bg-white shadow-xl rounded-l-lg p-6 space-y-4">
                <h2 class="text-3xl md:text-5xl font-semibold">{% trans "Budite slobodni da nas kontaktirate." %}</h2><br>
                <form class="" method="POST" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <label>{% trans "Ime" %}</label>
                    <input type="text" placeholder="Ime" name="name"
                           class="w-full border border-gray-300 rounded px-4 py-2 mb-4"/>
                    <label>Email</label>
                    <input type="email" placeholder="Email" name="email"
                           class="w-full border border-gray-300 rounded px-4 py-2 mb-4"/>
                    <label>{% trans "Broj Telefona" %}</label>
                    <input type="tel" placeholder="tel" name="phone"
                           class="w-full border border-gray-300 rounded px-4 py-2 mb-4"/>
                    <label>{% trans "Poruka" %}</label>
                    <textarea placeholder="{% trans 'Poruka' %}" rows="4" name="message"
                              class="w-full border border-gray-300 rounded px-4 py-2 mb-4"></textarea>


                    <button type="submit" class="w-full bg-black text-white py-2 rounded hover:bg-gray-700 transition">
                        {% trans "Pošalji" %}
                    </button>
                </form>
            </div>
        </div>
        <div>
            <img src="{% static 'img/contact.jpg' %}" alt="" class="w-[800px] rounded">
        </div>
    </div>
</section>

<section class="mt-20" id="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465.78022934892215!2d20.416989358308317!3d44.81330873441196!2m3!1f20.084388999999998!2f18.162891838549893!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x475a65006e2a2add%3A0x6d3a59a2de74c879!2sMiyaMie%20Haljine!5e1!3m2!1ssr!2srs!4v1751273752940!5m2!1ssr!2srs"
            style="border:0;" allowfullscreen="" loading="lazy" class="w-full h-[500px]"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

{% endblock %}

